.admin-item {
    &:hover {
        background-color: $primary-light;
    }
}

.page-item {
    .page-link {
        color: $primary-dark;

        &:hover {
            color: $primary-light;
            background-color: $primary-dark;
        }
    }

    .selected {
        color: $primary-light;
        background-color: $primary-dark;
    }
}

.menu__icon--open {
  display: inline;
}

[aria-expanded="false"] .menu__icon--open {
  display: inline;
}
[aria-expanded="false"] .menu__icon--close {
  display: none;
}
[aria-expanded="true"] .menu__icon--open {
  display: none;
}
[aria-expanded="true"] .menu__icon--close {
  display: inline;
}