.admin-item {
    &:hover {
        background-color: $primary-light;
    }
}

.page-item {
    .page-link {
        color: $primary-dark;

        &:hover {
            color: $primary-light;
            background-color: $primary-dark;
        }
    }

    .selected {
        color: $primary-light;
        background-color: $primary-dark;
    }
}
.modal-footer {
    border-top: 0 none;
}
