.aside {
    background-color: #EDF4EE;
    width: 25%;

    .home {
        width: 40px;
    }
    
    .email {
        font-size:14px;
        color: #0000009A;
    }
    .unselected {
        border-left: 4px solid #EDF4EE ;
    }
    .selected {
        color: #2A8356;
        border-left: 4px solid ;
    }

}
