.aside {
    background-color: #edf4ee;
    width: 23%;

    .home {
        width: 40px;
    }

    .email {
        font-size: 14px;
        color: #0000009a;
    }
    .unselected {
        // color: black;
        border-left: 4px solid #edf4ee;
    }
    .selected {
        color: #2a8356;
        border-left: 4px solid;
    }
}
