.button-light {
    background-color: $primary-light;
    color: black;
    border: 1px solid $primary;


    &:hover {
        color: $primary-dark;
    }
}
.button {
    background-color: $primary-dark;
    color: white;
    border: 1px solid $primary-dark;

    &:hover {
        background-color: #fff;
        color: $primary-dark;
    }
}

.clickable-icon {
    &:hover {
        color: $primary-dark;
    }
}
