.button {
    background-color: $primary-dark;
    color: white;
    border: 1px solid $primary-dark;

    &:hover {
        background-color: #fff;
        color: $primary-dark;
    }
}

.clickable-icon {
    &:hover {
        color: $primary-dark;
    }
}
