.debug-bordered {
   border: 1px solid black;
}
.persona-img {
   width: 40px;
   border-radius: 50%;
}

.grey {
   color: grey;
}

.green {
   color: #2a8356;
}

.font-size-12 {
   font-size: 12px;
}

.w-35 {
   width: 35%;
}

.w-65 {
   width: 65%;
}

.bg-green {
   background-color: #edf4ee;
}

.border-green {
   border: 1px solid #cdddcd;
}
