.debug-bordered {
   border: 1px solid black;
}
.persona-img {
   width: 40px;
   border-radius: 50%;
}

.grey {
   color: grey;
}

.green {
   color: #2a8356;
}

.white {
   color: white;
}

.font-size-12 {
   font-size: 12px;
}

.w-35 {
   width: 35%;
}

.w-65 {
   width: 65%;
}

.bg-green {
   background-color: #edf4ee;
}
.bg-darkgreen {
   background-color: #2A8356;
}
.border-bottom-green {
   border-bottom: 1px solid;
   border-color: #cdddcd;;
}
.border-green {
   border: 1px solid #cdddcd;
}

.border-darkgreen {
   border: 1px solid #2A8356;
}
