.debug-bordered {
   border: 1px solid black;
}

.black {
   color: black;
}

.pink {
   color: $pink;
}
.grey {
   color: grey;
}

.green {
   color: #2a8356;
}

.white {
   color: white;
}

.font-size-12 {
   font-size: 12px;
}

.font-size-14 {
   font-size: 14px;
}
.font-size-16 {
   font-size: 16px;
}

.font-size-24 {
   font-size: 24px;
}

.w-5 {
   width: 5%;
}
.w-8 {
   width: 8%;
}

.w-10 {
   width: 10%;
}

.w-22 {
   width: 22%;
}

.w-20 {
   width: 20%;
}

.w-30 {
   width: 30%;
}

.w-40 {
   width: 40%;
}

.w-35 {
   width: 35%;
}

.w-65 {
   width: 65%;
}

.bg-green {
   background-color: #edf4ee;
}

.border-bottom-green {
   border-bottom: 1px solid;
   border-color: #cdddcd;
}

.border-green {
   border: 1px solid #cdddcd;
}

.border-darkgreen {
   border: 1px solid #2a8356;
}
