/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === */

*{
	box-sizing: border-box;
}


.header{
	padding-top: 48px;
	font-size: 80px;
	line-height: 90px;
	margin-bottom: 20px;
}

.picture{
	padding-top: 48px;
	border-top: 1px solid black;
	margin-bottom: 48px;
}

.picture img{
	display: block;
}

.title{
	margin-bottom: 8px;
	line-height: 45px;

}
.title .ch{
	font-size: 32px;
	margin-right: 16px;
}
.title .en{
	font-size: 24px;
	color: darkred;
}

.middle{
	vertical-align: middle;
}


.container {
	width: 1200px;
	margin-left:  auto;
	margin-right:  auto;
}


.list-wrap{
  padding: 16px 0 16px 32px;
  border-top: 1px solid black;
}
.education{
	/* 讓偽元素以 ul 作為定位點，因此 ul 需要設定為“相對位置” */
	position: relative;
}
.education-item{
  margin-bottom: 32px;
  line-height: 35px;
}
.education-item:before{
  content: "";
	/* 偽元素需設定成“絕對位置” */
  position: absolute;
  margin-top:11px;
  width: 16px;
  height: 16px;
  background-color: #96A9C4;
  border-radius: 50%;
  left: -32px;
}
.timeLine:after{
  content: "";
	/* 偽元素需設定成“絕對位置” */
  position: absolute;
  border-left: 1px solid #96A9C4;
  /* 一定要加上 top, bottom 的值，線條才會有高度 */
	/* 設定 top 0px, bottom 0px 就會剛好撐滿整個 ul 的高度 */
  top: 11px;
  bottom: 11px;
	/* 為了要讓線條對準圓心，因此需往左 16（圓圈和文字之間的距離）+ 8（圓圈的半徑）= 24px */
  left: -24px;
}

.education-item-paragraph{
	font-size: 24px;
	margin-bottom: 24px;
}

