img {
    max-width: 100%;
}
.h-400px {
    height: 400px;
}
.text-48px {
    font-size: 48px;
}

.text-24px {
    font-size: 24px;
}

.text-14px {
    font-size: 14px;
}


.debug-bordered {
    border: 1px solid black;
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 29px;
}
