.director {
    background-image: url(../img/burningparrot-u2Xn5Bzvllw-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .h-400px{
    height: 400px;
}

}

