.footer {

    .subscribe {

        background-image: url(../img/tom-crew-uDF1mW7EUwM-unsplash.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .rights {
        bg-color: black;
    }
}
