.products {
    .product {
        position: relative;

        img {
            height: 350px;
            object-fit: cover;
        }

        .tag {
            // position: absolute;

            text-align: end;
            position: absolute;
            width: 100%;
            top: 0;
        }
    }
}

.slider {
    // width: 300px;
    // height: 300px;
    display: flex;
    overflow-x: auto;
}
.slide {
    // width: 300px;
    flex-shrink: 0;
    // height: 100%;
    // margin-right: 10px;
    // background-color: red;
}
