.products {
    .product {
        position: relative;

        .tag {
            // position: absolute;

            text-align: end;
            position: absolute;
            width: 100%;
            top: 0;
        }
    }
}
