// Required
@import "../node_modules/bootstrap/scss/functions";
@import "variables"; // 複製一份 variable 來覆蓋
@import "../node_modules/bootstrap/scss/mixins";
// Option

@import "../node_modules/bootstrap/scss/bootstrap";


// customized
@import "header";
@import "banner";

.debug-bordered {
    border: 1px solid black;
}

.text-48px {
    font-size: 48px;
}

.text-24px {
    font-size: 24px;
}