/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* === */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* ================================================================ */

.header {
    position: relative;
    background-color: #aa0601;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
}

.header .menu {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .header {
        padding: 0 48px;
    }
    .header .menu {
        width: 60%
    }
}

.header .menu li a {
    padding: 40px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
}

.ham-icon {
    position: absolute;
    left: 13px;
    color: #FFFFFF;
    display: none;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 120;
}

.dropdown.active {
    max-height: 200px;
}

.dropdown li a {
    display: block;
    background: #AA0601;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
}

.dropdown li a:hover {
    background: #8f0400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #aa0601;
    color: white;
}

.footer .container {
    padding: 48px 25px 28px 25px;
}

.footer .menu-and-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .menu-and-social .menu {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-content: center;
}

.footer .menu-and-social .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer .menu-and-social .social {
    display: flex;
    width: 18%;
    justify-content: space-between;
    align-content: center;
}

.footer .phone {
    display: flex;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 16px;
}

.footer .phone img {
    margin-right: 22px;
}

.footer .email {
    display: flex;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
}

.footer .email img {
    margin-right: 12px;
}

.footer .copyright-and-privacy {
    border-top: 1px solid white;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer .copyright-and-privacy .copyright {
    display: flex;
    align-content: center;
}

.footer .copyright-and-privacy .copyright img {
    margin-right: 38px;
}

.footer .copyright-and-privacy .copyright p {
    font-size: 16px;
    margin: auto;
}

.footer .copyright-and-privacy .privacy {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footer .copyright-and-privacy .privacy li {
    margin: auto;
}

.footer .copyright-and-privacy .privacy li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}