/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* === */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* ================================================================ */

.header {
    position: relative;
    background-color: #aa0601;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
}

.header .menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) {
    .header {
        padding: 0 48px;
    }
    .header .menu {
        width: 60%
    }
}

@media (max-width: 767px) {
    .header {
        padding: 10px 23px;
        justify-content: center;
    }
    .header .menu {
        display: none;
    }
}

.header .menu li a {
    padding: 40px 0;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
}

.ham-icon {
    position: absolute;
    left: 13px;
    color: #FFFFFF;
    display: none;
}

@media (max-width: 767px) {
    .ham-icon {
        display: block;
    }
}

.dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    max-height: 0px;
    transition: all 0.8s;
    overflow: hidden;
    z-index: 120;
}

.dropdown.active {
    max-height: 200px;
}

.dropdown li a {
    display: block;
    background: #AA0601;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 16px 0;
    text-decoration: none;
}

.dropdown li a:hover {
    background: #8f0400;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bg-pink {
    background-color: #AA06010D;
}

@media (max-width: 992px) {
    .container {
        max-width: 850px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 720px;
    }
}

.banner {
    background-image: url(../img/68.png);
    height: 840px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #650300;
}

.banner .banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.banner p {
    font-size: 36px;
    line-height: 50px;
}

.banner h2 {
    font-size: 64px;
    line-height: 90px;
}

@media (max-width: 992px) {
    .banner p {
        font-size: 20px;
        line-height: 28px;
    }
    .banner h2 {
        font-size: 48px;
        line-height: 67px;
    }
}

@media (max-width: 767px) {
    .banner p {
        font-size: 16px;
        line-height: 22px;
    }
    .banner h2 {
        font-size: 32px;
        line-height: 45px;
    }
}

.feature {
    padding: 64px 0 80px 0;
    color: #650300;
}

.feature h2 {
    font-size: 48px;
    line-height: 67px;
    text-align: center;
}

.feature .feature-content {
    display: flex;
    justify-content: space-between;
}

.feature .feature-content li {
    padding: 35px;
    width: 23.5%;
}

.feature .feature-content li img {
    margin: 0 auto 40px auto;
}

.feature .feature-content li h3 {
    text-align: center;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 4px;
}

.feature .feature-content li p {
    font-size: 16px;
    line-height: 24px;
    color: black;
}

@media (max-width: 992px) {
    .feature h2 {
        font-size: 32px;
        line-height: 45px;
    }
    .feature .feature-content {
        display: flex;
        flex-wrap: wrap;
    }
    .feature .feature-content li {
        width: 50%;
    }
    .feature .feature-content li img {
        width: 80px;
    }
    .feature .feature-content li h3 {
        font-size: 20px;
        line-height: 28px;
    }
    .feature .feature-content li p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (max-width: 767px) {
    .feature h2 {
        font-size: 24px;
        line-height: 33px;
    }
    .feature .feature-content li {
        width: 100%;
    }
}

.classic {
    padding: 64px 0 80px 0;
    color: #aa0601;
}

.classic h2 {
    font-size: 48px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 60px;
}

.classic-content-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.classic-content-item h3 {
    margin: 0 auto;
    font-size: 48px;
    display: flex;
    align-items: center;
}

.reversed-on-pc {
    flex-direction: row-reverse;
}

.classic-content-item h3 img {
    margin-right: 1.5%;
}

@media (max-width: 992px) {
    .reversed-on-pc {
        flex-direction: row;
    }
    .classic h2 {
        font-size: 32px;
        line-height: 45px;
    }
    .classic-content-item img {
        width: 60%;
    }
    .classic-content-item h3 {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    .classic h2 {
        font-size: 24px;
        line-height: 33px;
    }
    .classic-content-item {
        position: relative;
    }
    .classic-content-item img {
        margin: 0 auto;
        width: 95%;
    }
    .classic-content-item h3 {
        position: absolute;
        top: 40%;
        left: 30%;
        font-size: 28px;
        filter: brightness(0) invert(1);
    }
}

.designer {
    height: 800px;
    background-color: #505050;
}

.buoy {
    margin-top: -250px;
}

.recommend h2 {
    font-size: 48px;
    line-height: 67px;
    text-align: center;
    margin-bottom: 60px;
    color: white;
}

.recommend-content {
    display: flex;
    justify-content: space-between;
}

.recommend-content-item {
    width: 23%;
    border: 1px solid #dee2e6;
}

.bold {
    font-weight: bold;
}

.mb-16 {
    margin-bottom: 16px;
}

.grey {
    color: #707070;
}

.padding-side-16 {
    padding: 0 16px;
}

@media (max-width: 992px) {
    .recommend h2 {
        font-size: 32px;
        line-height: 45px;
    }
    .recommend-content {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .recommend-content-item {
        width: 45%;
    }
    .recommend-content-item img {
        width: 100%;
    }
}

.footer {
    background-color: #aa0601;
    color: white;
}

.footer .container {
    padding: 48px 25px 28px 25px;
}

.footer .menu-and-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .menu-and-social .menu {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-content: center;
}

.footer .menu-and-social .menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer .menu-and-social .social {
    display: flex;
    width: 18%;
    justify-content: space-between;
    align-content: center;
}

.footer .phone {
    display: flex;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 16px;
}

.footer .phone img {
    margin-right: 22px;
}

.footer .email {
    display: flex;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
}

.footer .email img {
    margin-right: 12px;
}

.footer .copyright-and-privacy {
    border-top: 1px solid white;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer .copyright-and-privacy .copyright {
    display: flex;
    align-content: center;
}

.footer .copyright-and-privacy .copyright img {
    margin-right: 38px;
}

.footer .copyright-and-privacy .copyright p {
    font-size: 16px;
    margin: auto;
}

.footer .copyright-and-privacy .privacy {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footer .copyright-and-privacy .privacy li {
    margin: auto;
}

.footer .copyright-and-privacy .privacy li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}